$font: 'ef_cuisinesregular'
    
.headerBar
    background-color: #3f51b5

.link 
    color: #FFF
    &:hover
        color: lightgrey

.title 
    text-align: left

#headerContainer 
    align-items: center
    height: 50px
    display: flex

.webfontIcons
    font-family: $font
    font-size: larger
    padding-right: 12px
